---
---

/*
 * This file controls what is imported from /_sass
 *
 * Note that the files are processed in the order they are imported, so they are partly
   sorted by the dependencies. Also, the first two lines of the file are required by Jekyll.
 */

@import
    "vendor/breakpoint/breakpoint",

    "themes",
    "theme/{{ site.site_theme | default: 'default' | append: '_light' }}",
    "theme/{{ site.site_theme | default: 'default' | append: '_dark' }}",

    "include/mixins",
    "vendor/susy/susy",

    "layout/reset",
    "layout/base",

    "include/utilities",
    "layout/tables",
    "layout/buttons",
    "layout/notices",
    "layout/masthead",
    "layout/navigation",
    "layout/footer",
    "syntax",

    "layout/forms",

    "layout/page",
    "layout/archive",
    "layout/sidebar",
    "layout/json_cv",

    "vendor/font-awesome/fontawesome",
    "vendor/font-awesome/solid",
    "vendor/font-awesome/brands"
;
/* =======================================
   PERMANENT BOOK STYLE FOR CIKAKARIN
   ======================================= */

/* 1. Make all paragraphs Justified and Indented */
.page__content p {
  text-align: justify !important;
  text-indent: 40px !important;
}

/* 2. Fix for Images so they don't get pushed to the side */
.page__content p img {
  display: block;
  margin: 0 auto;
}

/* 3. Ensure Headings (H1, H2) stay on the left (No Indent) */
.page__content h1, .page__content h2, .page__content h3 {
  text-indent: 0px !important;
  text-align: left !important;
}
